
/* font-family: 'Playfair Display', serif; */
*{
    margin: 0;
    padding: 0;

}
header{

width: 100%;

margin: auto;
}
.logo{

display: flex;

justify-content: space-around;

margin-top: 20px;
}
.logo img{

}
nav{margin: 20px 0px;}
nav ul{

display: flex;

justify-content: space-between;

width: 30%;

margin: auto;

list-style: none;

margin-top: 35px;
}
nav ul li{

}
nav ul li a{
    
text-decoration: none;
    
color: #5d5757;
    
font-size: 20px;
    
font-family: inherit;
}
.content{

width: 90%;

margin: auto;

margin-top: 70px;

display: flex;

align-items: center;
}
.text_content{
    /* margin-top: 5%; */
    width: 50%;
    padding: 10px 50px;
}
.text_content h1{

font-size: 66px;

font-weight: 100;

margin-bottom: 25px;

font-family: 'Playfair Display', serif;
}
.text_content h5{

font-size: 25px;

font-family: 'Playfair Display', serif;

font-weight: 100;

margin-bottom: 15px;
}
.text_content p{

font-size: 18px;

color: #757575;

font-family: 'Playfair Display', serif;
}
.border_bottom{

border-bottom: 1px solid black;

width: 15%;

/* border: none; */

margin-bottom: 15px;
}

.btn{

}
.btn button{

padding: 8px 35px;

text-transform: capitalize;

font-size: 20px;

background: #000000;

font-weight: 100;

cursor: pointer;

margin-top: 15px;

color: rgba(255,255,255,0.7);
}
.phone_img{width: 50%;}
.phone_img img{

}
.second_content{

background: #fdf9f9;

height: 350px;
}
.book_content{text-align: center;}
.book_content h1{
    
font-size: 40px;
    
font-family: 'Playfair Display', serif;
    
font-weight: 200;
    
padding: 15px 0px;
}
.book_content p{
    
font-size: 18px;
    
padding: 15px 0px;
    
font-family: 'Playfair Display', serif;
}
.border_bottom_two{

width: 5%;

border-bottom: 1px solid black;

margin: auto;

margin-bottom: 15px;
}
.top_btn{padding-top: 30px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;}
.top_btn button{padding: 10px 50px;
    font-size: 16px;
    background-color:black;
    color: rgba(255,255,255,0.7);
    cursor: pointer;}
.down_btn{

padding-top: 30px;

width: 40%;

margin: auto;

display: flex;

justify-content: space-between;
}
.down_btn button{
    
padding: 10px 50px;
    
font-size: 16px;
    
background-color: black;
    
color: rgba(255,255,255,0.7);
    
cursor: pointer;
}
.about_the_author{

height: 650px;

background: #f7f4f4;
}
.author_content{

display: flex;

justify-content: space-between;

padding: 100px 100px;
}
.author_img{

}
.author_img img{
    padding-left: 35px;
}
.author_text{

padding: 50px 83px;
}
.author_text h1{

font-size: 40px;

font-weight: 100;

font-family: 'Playfair Display', serif;
}
.author_text h4{

padding: 25px 0px;

font-size: 23px;

font-weight: 100;

font-family: 'Playfair Display', serif;
}
.border_line{

margin: 20px 0;

border-bottom: 1px solid black;

width: 10%;
}
.author_text p{

font-size: 20px;

color: #797581;
}
.btn_two{

margin: 20px 0;
}
.btn_two button{

border: none;

text-transform: capitalize;

color: black;

font-weight: 500;

font-size: 18px;

background: none;

cursor: pointer;
}


.third_content{

width: 60%;

margin: auto;

margin-top: 100px;
}
.content_text{

}
.content_text h3{

font-size: 30px;

font-weight: 100;

text-align: center;

font-family: 'Playfair Display', serif;
}
.content_text h4{

text-align: center;

padding: 25px 0px;

font-size: 20px;

font-weight: 100;

font-family: 'Playfair Display', serif;
}
.star_icon{

}
.star_icon ul{
    
display: flex;
    
justify-content: center;
}
.star_icon ul li{
    
list-style: none;
    

}
.star_icon ul li a{color: orange;}

.all_book{width: 90%;margin: auto;margin-top: 70px;}
.all_book_img{
    width: 100%;
    margin: auto;
}
.all_book_img img{
}


.shiping{

width: 80%;

margin: auto;

padding: 50px 0px;
}
.shiping_content{

display: flex;

justify-content: space-between;
}
.four_shiping{
    
}
.border_up{

width: 50%;

border-bottom: 1px solid black;

margin: auto;
}
.four_shiping h1{

text-transform: capitalize;

font-size: 30px;

font-weight: 100;

padding: 20px 0px;

text-align: center;
}
.four_shiping h5{

font-size: 20px;

font-weight: 100;

color: #615e5b;
}
.four_shiping ul{

text-align: center;

padding: 20px 0px;
}
.four_shiping ul li{

list-style: none;
}
.four_shiping ul li a{
text-decoration: none;font-size: 20px;text-transform: capitalize;color: black;font-weight: 600;
}

.author_book{
}
.horizental{padding: 20px 0px 50px;}
.horizental hr{

width: 70%;

margin: auto;

border: none;

border-bottom: 1px solid #eae1e1;
}
.author_three_book{
    
display: flex;
    
width: 90%;
    
margin: auto;
    
padding: 30px 0;
}
.author_book_img{
}
.author_book_img img{

}
.author_book_img h1{

text-transform: capitalize;

font-family: 'Playfair Display', serif;

font-weight: 100;

font-size: 30px;
}
.author_book_img h4{

text-transform: capitalize;

font-size: 20px;

font-weight: 100;

font-family: 'Playfair Display', serif;

padding: 16px 0px;
}
.border_line_down{

border-bottom: 1px solid black;

width: 15%;

margin-bottom: 15px;
}
.author_book_img p{

font-family: 'Playfair Display', serif;

text-align: left;

padding: 20px 80px 20px 0px;
}
.btn_three{
}
.btn_three button{

border: none;

background: none;

text-transform: capitalize;

font-size: 16px;

font-weight: 700;

cursor: pointer;

font-family: 'Playfair Display', serif;
}



.footer_content{

height: 650px;

background: #1C1E24;

justify-content: space-between;

margin-top: 50px;
}
.first_footer{

display: flex;

padding: 90px 20px 0px 80px;
}
.left_content{

width: 30%;

margin: auto;

margin-top: 5px;
}
.left_content h1{
    
text-transform: capitalize;
    
color: #fff;
    
font-size: 30px;
    
margin-bottom: 35px;
    
font-weight: 100;
    
font-family: 'Playfair Display', serif;
}
.left_content p{
    
color: #a9b0b3;
    
font-size: 18px;
    
font-family: 'Playfair Display', serif;
}
.middle_content{

width: 30%;

margin: auto;
}
.middle_content h1{
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Playfair Display', serif;
}
.middle_content h2{
    color: #fff;
    margin-bottom: 40px;
    margin-top: 38px;
    font-size: 25px;
    font-weight: 100;
    font-family: 'Playfair Display', serif;
}
.middle_content p{
    
color: #a9b0b3;
    
margin-bottom: 5px;
    
font-size: 18px;
}
.bd_line{

border-bottom: 1px solid #e1e4ef;

width: 90%;
}
.right_content{

width: 30%;

margin: auto;

margin-top: 5px;
}
.right_content h1{
    
font-size: 30px;
    
color: #fff;
    
font-weight: 100;
    
margin-bottom: 30px;
}
.right_content input{
    
width: 82%;
    
height: 40px;
    
border-radius: 5px;
    
font-size: 18px;
}
.right_content button{
    
width: 42%;
    
margin-top: 15px;
    
padding: 10px 0px;
    
font-size: 22px;
    
text-transform: capitalize;
    
font-weight: 100;
    
color: #fff;
    
background: black;
    
border: none;
    
cursor: pointer;
}
.last_footer{

background: #000000;

height: 70px;

margin-top: 80px;

display: flex;

justify-content: space-between;
}
.Copyright{
    padding: 25px 80px;
}
.Copyright h1{
    
color: #ddd;
    
font-size: 18px;
    
font-weight: 100;
}
.menu{

width: 30%;

margin: auto;

padding-left: 200px;
}
.menu ul{

display: flex;

justify-content: space-between;
}
.menu ul li{

list-style: none;
}
.menu ul li a{
    
text-decoration: none;
    
color: #dddd;
    
font-size: 18px;
    
text-transform: capitalize;
}